body {
  margin: 0;
  background-color: #45567d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #be3144;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
  padding-right: 20px;
  font-size: 1.5rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #45567d;
}

.active {
  background-color: #04aa6d;
}
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.hey {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  margin: 10px;
}
.web {
  color: #be3144;
  font-size: 2rem;
  margin: 0%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 13vh;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 30px;
  width: 100%;
  color: white;
  background-color: #303841;
  border: #303841;
  border-style: solid;
  border-top-color: #be3144;
}
.contact-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #303841;
  width: 100%;
  height: 80vh;
  text-align: center;
}
.contact1 > h2 {
  font-size: 4rem;
  color: white;
  align-self: center;
  margin: 0%;
}
.contact1 > p {
  font-size: 1rem;
  color: white;
  align-self: center;
  font-style: italic;
}
.contact-details:hover {
  transform: translateY(8px);
}
.contact2 {
  font-size: 30px;
}
.fa-facebook {
  color: white;
}
.fa-twitter {
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-google {
  color: white;
  font-size: 48px;
}
.fa-phone {
  color: white;
}
.fa-github {
  color: white;
}
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #45567d;
}

.projects-section-header {
  display: flex;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-size: 2.5rem;
  margin: 0%;
  margin-left: 250px;
  padding: 50px;
  justify-content: end;
  align-items: center;
  color: white;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 6rem;
}

.project {
  background: #303841;
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  color: aliceblue;
  padding: 2rem 0.5rem;
  margin: 0%;
  align-self: center;
}
